
                /*=== === === === === --XXS Portrait phones and smaller === */

@media (max-width: 479px){
                /*=== === === === === Start Rules === === === === === === ==*/
    body > *{
        display:flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    h2{
        display: flex;
        justify-content: center;
        font-size:var(--h2-font);
    }   /*center labels & signature*/
    h5{
        padding-left:10px;
        font-size:var(--h5-font);
    }
    p{
        padding: 0 10px;
        line-height:1.6;
        word-spacing:2.5px;
        text-indent:15px;
        text-align:justify;
        text-justify:inter-word;
        font-size:130%;
    }
    ul{
        
    }
    li{
        
    }
    [class*="-side-label"]{
        
    }
    [class*="-content"]{
        margin-top: 10px;
/*        margin-top: 10px;*/
    }
    [class*="-co-field"]{
        
    }

                    /*=== === === === === End Rules === === === === === === === */

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start Header === === === === === === =*/
    :root{
        --header-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .header{
        margin-top: 0px;
    }
    .header .header-side-label{}
    .header .header-side-label section{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .header .header-side-label section > *{
        flex-basis:100%;
    }
    .header .header-side-label section div:first-of-type{
        flex-basis: calc(var(--header-variable)*0.8);/*80px*/
        height:calc(var(--header-variable)*0.8);/*80px*/
    }
    .header .header-side-label section h2{}
    .header .header-side-label section h5{
        display: flex;
        justify-content: center;
        padding-left:0px;
    }

                    /*=== === === === === End Header === === === === === === ===*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start nav === === === === === === === */
    :root{
        --nav-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    nav{
        justify-content: center;
        margin-top: 7px;
    }
    nav ul{
        font-size:calc(var(--nav-variable)*0.128);/*16.4*/
        height: calc(var(--nav-variable)*0.3);/*30*/
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }
    nav ul:hover{
        height: calc(var(--nav-variable)*0.4);/*40*/
    }
    nav ul li{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 calc(var(--nav-variable)*0.1);/*10*/
    }
    nav ul li:first-of-type{
        flex-grow: 6;
    }
    nav ul li:hover{
        transform: scale(2.5);
        margin: 0 calc(var(--nav-variable)*0.5);/*40*/
    }

                    /*=== === === === === End nav === === === === === === === ==*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start Serv === === === === === === ===*/
    :root{
        --se-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .serv{
        margin-top:12px;
    }
    .serv .se-side-label{}
    .serv .se-content{
        display: flex;
        justify-content: space-between;
        /*height:calc(var(--se-variable)*.8);*/
    }
    .serv .se-content .se-co-field{
        
        /*   width:calc(var(--div-width) + 3 + var(--h4-height)); */
        flex-basis:calc(var(--se-variable)*2.0);
        
        /*we put width instead of flex-basis to save the square shape of the -se-co-field-*/
        /* So fix the two variables firstly thin calculate it*/
        /*and make height = width */
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .serv .se-content .se-co-field > div{
        /*we put width instead of flex-basis to save the square shape of the -se-co-field-*/
        width:calc(var(--se-variable)*.7);/*110.96*/
    }
    .serv .se-content .se-co-field h4{
        text-align: center;
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        align-items: center;
        font-size:calc(var(--se-variable)*.21);/*17*/
        height:calc(var(--se-variable)*.29);/*21*/
    }
    .serv .se-content .se-co-field p{
        margin-top:10px;
    }

                    /*=== === === === === End Serv === === === === === === === =*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start portfolio === === === === === ==*/
    :root{
        --po-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .portfolio{}
    .portfolio .po-side-label{}
    .portfolio .po-content{
        /*height:calc(var(--po-variable)*4.3);*//*460*/
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        align-content: space-evenly;
        
/*
        --field-heigh:200px;
        --field-margin:10px;
        --x:calc(var(--field-heigh)*2);
        --y:40px;
        --z:calc(var(--x)+var(--y));
        height:var(--z);
*/
    }
    .portfolio .po-content .po-co-field{
        width:calc(var(--po-variable)*1);/*232*/
        height:calc(var(--po-variable)*1);/*200*/
    }

                    /*=== === === === === End portfolio === === === === === === */

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start Opinions === === === === === ===*/
    :root{
        --op-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .opinions{}
    .opinions .op-side-label{}
    .opinions .op-side-label h5{}
    
    .opinions .op-side-label h5:first-of-type{
        font-size:calc(var(--op-variable)*.2);
    }
    .opinions .op-side-label h5:nth-of-type(2){
        font-size:calc(var(--op-variable)*.3);/*30*/
    }
    .opinions .op-side-label h2{}
    .opinions .op-content .op-co-field{}
    .opinions .op-content p{}
    .opinions .op-content h2{
        justify-content: flex-end;
    }

                    /*=== === === === === End Opinions === === === === === === =*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start skills === === === === === === =*/
    :root{
        --sk-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .skills{}
    .skills .sk-side-label{}
    .skills .sk-side-label h5{}
    .skills .sk-side-label h2{}
    .skills .sk-content{
        height:calc(var(--sk-variable)*4.3);
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .skills .sk-content .sk-co-field{
        padding:10px 0;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        flex-basis:calc(var(--sk-variable)*2.35);/*220*/
    }
    .skills .sk-content .sk-co-field [class^="sk-co-f-"]{
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-basis:80%;
    }
    .skills .sk-content .sk-co-field [class^="sk-co-f-"] h4{
        font-size:calc(var(--sk-variable)*.3333);
    }
    .skills .sk-content .sk-co-field [class^="sk-co-f-"] div{
        width:calc(var(--sk-variable)*.4);
        
    }

    .skills .sk-content .sk-co-field [class^="progress-"]{
        flex-basis:calc(var(--sk-variable)*2.2*.97);
    }
    .skills .sk-content.paragragh{
        display: block;
        height: auto;
    }

                    /*=== === === === === End skills === === === === === === ===*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start habits === === === === === === =*/
    :root{
        --ha-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .habits{}
    .habits .ha-side-label{}
    .habits .ha-content{
        display:flex;
        justify-content: center;
    }
    .habits .ha-content .ha-co-field{
        flex-basis:calc(var(--ha-variable)*.7);/*70*/
        margin:0 calc(var(--ha-variable)*.16);
    }

                    /*=== === === === === End habits === === === === === === ===*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start story === === === === === === ==*/
    :root{
        --st-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .story{}
    .story .st-side-label h2{}
    .story .st-content{
        height:calc(var(--st-variable)*8.62);/*862*/
        display: flex;
        flex-wrap:wrap;
        align-items: center;
    }
    .story .st-content .st-co-field{
    }
    .story .st-content .st-co-field p{
    }

                    /*=== === === === === End story === === === === === === === */

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start pushers === === === === === === */
    :root{
        --pu-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    .pushers{}
    .pushers span{
        text-transform:capitalize;
        padding-right:calc(var(--pu-variable)*.04);
    }
    .pushers strong{
        text-transform:capitalize;
        padding-left:calc(var(--pu-variable)*.04);
    }
    .pushers .pu-side-label{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .pushers .pu-side-label > *{
        flex-basis:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*we replaced them with text-align: center to overcome the -- :first-letter -- cancelation */
    }
    .pushers .pu-side-label p{/*we replaced h5 with p to overcome the -- space between internal items -- cancelation */
        min-height:0;
        height:calc(var(--pu-variable)*.55);/*40*/
        word-spacing:normal;
        text-indent:0;
        text-justify:inter-word;
    }
    .pushers .pu-side-label p:first-of-type{
        margin-top:10px;
        font-size: calc(var(--pu-variable)*0.4);
    }
    .pushers .pu-side-label p:nth-of-type(2){
        margin-top:10px;
        font-size: calc(var(--pu-variable)*0.3);
    }
    .pushers .pu-side-label p:nth-of-type(3){
        font-size: calc(var(--pu-variable)*0.25);
    }
    .pushers .pu-side-label p:nth-of-type(4){
        font-size: calc(var(--pu-variable)*0.2);
    }
    .pushers .pu-content{
        display:flex;
        justify-content: center;
    }
    .pushers .pu-content ul{
        font-size: calc(var(--pu-variable)*0.3);
        height:calc(var(--pu-variable)*5.85);/*585px*/
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .pushers .pu-content ul li{
        height: calc(var(--pu-variable)*.55);/*55*/
        display: flex;
        justify-content: center;
        flex-basis:calc(var(--pu-variable)*4.56);/*456*/
        align-items: center;
    }
    .pushers .pu-content p{
        text-align: center;
        padding: 10px;
        text-indent: 0;
    }

                    /*=== === === === === End pushers === === === === === === ==*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/
                    /*=== === === === === Start Project === === === === === === */

    .project{}
    .project p{}
    .project .proj-side-label{}
    .project .proj-side-label header{}
    .project .proj-side-label header:first-letter{}
    .project .proj-side-label article{}
    .project .proj-side-label article section{}
    .project .proj-side-label article section p:first-of-type{}
    .project .proj-side-label article section p:nth-of-type(2){}
    .project .proj-side-label article section p:nth-of-type(3){}
    .project .proj-side-label article section p:nth-of-type(4){}
    .project .proj-side-label article section p:nth-of-type(5){}
    .project .proj-side-label article aside{}
    .project .proj-side-label footer{}

                    /*=== === === === === End Project === === === === === === ==*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/
                    /*=== === === === === Start hireMme === === === === === === */

    .hire{}
    .hire .hi-side-label header{}
    .hire .hi-side-label header:first-letter{}
    .hire .hi-side-label footer{}

                    /*=== === === === === End hireMe === === === === === === ===*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start Contacts === === === === === ===*/
    :root{
        --contacts-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    [class*="-contacts"]{
        display: flex;
    }
    [class*="-contacts"] .contacts-side-label{
    }
    [class*="-contacts"] .contacts-side-label > *{
        
    }
    [class*="-contacts"] .contacts-side-label h5{
    }
    [class*="-contacts"] .contacts-side-label > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    [class*="-contacts"] .contacts-side-label > div h2{
    }
    [class*="-contacts"] .contacts-side-label > div div{
        margin-left:calc(var(--contacts-variable)*.1);/*10*/
        flex-basis:calc(var(--contacts-variable)*.4);/*40*/
    }
    [class*="-contacts"] .contacts-content{
        display: flex;
        justify-content: center;
    }
    [class*="-contacts"] .contacts-content .contacts-co-field{
        flex-basis:calc(var(--contacts-variable)*.72);/*72*/
        margin:0 calc(var(--contacts-variable)*.16);/*16*/
    }

                    /*=== === === === === End Contacts === === === === === === =*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/

                    /*=== === === === === Start footer === === === === === === =*/
    :root{
        --footer-variable:calc(var(--xs-1)*2.5);/*100*/
    }
    footer{
        margin: 20px 0;
    }
    footer .fo-content{
    }
    footer .fo-content h2{
        display: block;
        text-align: center;
        font-size:calc(var(--footer-variable)*.15);/*15*/
    }

                    /*=== === === === === End footer === === === === === === ===*/

                    /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --*/
}