                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

/*.ar{
    font-family: 'Markazi Text', serif;
    
    direction:rtl;
}*/ /*for arabic*/
.en{
    font-family: 'PT Sans', sans-serif;
    
}
                /*=== === === === === === === === === === startFrameWork === === === === === === === === === === ==*/

.thumbnail{
    background-color:#FFF;
    border:3px dashed var(--body-color);
    padding: 3px;
}
.over-lay{
    /*start for parent of over-lay*/
    
/*
    position: relative;
    height: 500px;
*/
    /*end for parent of over-lay*/
    
    background-color: #14171aa0;
    
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
}
.link{
    color: var(--h2-color);
    
}
.box-decoration{
    box-shadow: 0px 0px 150px 20px var(--h2-color);
    
}
.flex-box{
    
    display: flex;
}
.full-width{
    
    flex-basis: 100%;
}
.wrap{
    
    flex-wrap: wrap;
}
/*.no-wrap{
    
    flex-wrap: nowrap;
}*/
.circle{
    
    border-radius:50%;
}
.border{
    border-style: solid;
    
    border-width: 1px;
    
}
.capital{
    text-transform: capitalize;
    
}
.uppercase{
    text-transform: uppercase;
    
}
.lowercase{
    text-transform: lowercase;
    
}
.hyd-element{
    display: none!important;
}

                /*=== === === === === Start ProgressBar === === === === === */
[class^="progress-"]{
    border: 1px solid var(--body-color);
    
    height: 40px;
    padding:1px;
}
[class^="progress-"] .prog-bar{
    background-color: var(--body-color);
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
[class^="progress-"] .prog-bar .percentage{
    color:var(--grand-color);
    
    text-align: start;
    font-size: calc(var(--p-font)*.7);
}
                /*=== === === === === End ProgressBar === === === === === ==*/

                /*=== === === === === === === === === === endFrameWork === === === === === === === === === === === */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startRules === === === === === === === === === === === ==*/

:root{
    --h2-color:#1da1f2;     /*twitter-color*/   /*h2 ==> center label*/ /*h6 ==> signature*/
    --h3-color:#14171a;     /*burned gray*/     /*h3 ==> side label*/   /*h4 ==> paragragh label*/
    --body-color:#657786;   /*middle gray*/     /*body*/                /*p ==> paragragh*/
    --grand-color:#f5f8fa;
    --article-color:#e6ecf0;
    
/*
    --h5-color:#000000;
    --sidelabel-color:#aab8c2;
*/
    
    --h1-font:100px;
    --h2-font:70px;     /*center label*/
    --h3-font:35px;     /*side label*/
    --h4-font:40px;     /*paragragh label*/
    --h5-font:30px;
    --h6-font:40px;     /*signature*/
    --p-font:30px;      /*paragragh*/
    
    --xxs:calc(320px/12);
    --xs:calc(480px/12);
    --s:calc(768px/12);
    --m:calc(992px/12);
    --l:calc(1200px/12);
}
*{
    
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
::selection{
    color:#F00;
    background-color:#888;
    
}
body{
    background-color: var(--body-color);
    
}
body > *{
    background-color: var(--grand-color);
    
    margin-bottom: 20px;
}
header.grand{
    background-image: url("../images/cover.jpg");
    background-size: cover;
    
}
body > * .container{
    
    margin: auto;
}
section.mini{
/*    background-color:#004;*/
    
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article{
/*    background-color:#090;*/
    
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}
h1,h2,h3,h4,h5,h6,p,label{
    
    padding: 10px;
}
h1,h2,h3,h4,h5,   p,label{
    
    flex-basis: 100%;
}
h1,h2,   h4,h5,h6,  label{
    
    display: flex;
    justify-content: center;
    
    text-align: center;
}
h1,h2,   h4,h5,h6,  label,span,ul{
    text-transform: capitalize;
    
}
h1{
    color: var(--grand-color);
/*    background-color:#300;*/
    
    margin: 0;
    padding: 0;
    
    font-size: var(--h1-font);
}
h2{
    color: var(--h2-color);
    
    font-size: var(--h2-font);
}
h3{
    color: var(--h3-color);
    
    font-size: var(--h3-font);
}
h4{
    color: var(--h3-color);
    
    font-size: var(--h4-font);
}
h5{
    color: var(--h3-color);
    
    font-size: var(--h5-font);
}
h6{
    color: var(--h2-color);
    
    flex-basis: 80%;
    display: inline;
    
    font-size: var(--h6-font);
}
/*.ar h6{
    font-family: 'Tajawal', sans-serif;
    font-style: oblique;
    
}*/ /*for arabic*/
.en h6{
    font-family: 'Dancing Script', cursive;
    font-style: oblique;
    letter-spacing: 3px;
    
}
p{
    color: var(--body-color);
    
    text-align: center;
    font-size: var(--p-font);
}
img{
/*    background-color:#060;*/
    
    height: 130px;
    width: 130px;
    margin-bottom: 15px;
    
    font-size: var(--p-font);
}

                /*=== === === === === === === === === === endRules === === === === === === === === === === === === */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startHeader === === === === === === === === === === === =*/

body header.grand{
    
    position: relative; /*For Lay-Out*/
    
    height: 500px;      /*For Lay-Out*/
}
body header.grand .container .parent .sub-container{
    
    align-items: center;
}
body header.grand .container .parent .sub-container header.mini article h2:first-of-type{
    
    text-transform: lowercase;
}
                /*=== === === === === === === === === === endHeader === === === === === === === === === === === ===*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startNav === === === === === === === === === === === ====*/

body nav{
    
    width:98%;
    margin: auto;
    margin-bottom: 20px; /* Because of ( margin: auto; ) at Line 315*/
    border-radius: 50px;
    
}
body nav .container .parent .sub-container section.mini article{
    
    flex-basis: 100%;
}
body nav .container .parent .sub-container section.mini article ul{
    list-style: none;
    
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
body nav .container .parent .sub-container section.mini article ul li{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
    
    text-align: center;
    font-size: var(--h5-font);
}
body nav .container .parent .sub-container section.mini article ul li a{
    color: var(--h3-color);
    
}

                /*=== === === === === === === === === === endNav === === === === === === === === === === === === ==*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startServ === === === === === === === === === === === ===*/

body .serv .container .parent .sub-container section.mini article{
    
    flex-basis: 40%;
}

                /*=== === === === === === === === === === endServ === === === === === === === === === === === === =*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startPortfolio === === === === === === === === === === ==*/

body .portfolio .container .parent .sub-container section.mini article{

    flex-basis: 25%;
}
body .portfolio .container .parent .sub-container section.mini article a img{

    height: 170px;
    width: 170px;
}

                /*=== === === === === === === === === === endPortfolio === === === === === === === === === === === */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startOpinions === === === === === === === === === === ===*/


/*
body .opinions .container .parent .sub-container header.mini article h3{
}
*/
body .opinions .container .parent .sub-container section.mini article{
    
    padding-bottom: 0;
}
body .opinions .container .parent .sub-container section.mini article p{
    font-family: 'Cinzel Decorative', cursive;
    font-style: italic;
    font-weight: bold;
    
    font-size: calc(var(--p-font)*.7);
}
body .opinions .container .parent .sub-container footer.mini article{
    
    padding-top: 0;
}
body .opinions .container .parent .sub-container footer.mini article h6{
    
    justify-content: flex-end;
    padding-top: 0;
    
    text-align: end;
    font-size: calc(var(--h6-font)*.7);
}

                /*=== === === === === === === === === === endOpinions === === === === === === === === === === === =*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startSkills === === === === === === === === === === === =*/

body .skills .container .parent .sub-container section.mini.one article{
    border-color: var(--h3-color);
    
    align-content: space-between;
}
body .skills .container .parent .sub-container section.mini.one article > *{
 
    flex-basis: 100%;
}
body .skills .container .parent .sub-container section.mini.one article [class^="sk-co-f-"]{
    
    display: flex;
}
body .skills .container .parent .sub-container section.mini.one article [class^="sk-co-f-"] h4{
    
    flex-basis: 100%;
    justify-content: flex-start;
}
body .skills .container .parent .sub-container section.mini.one article [class^="sk-co-f-"] img{
    
    height: auto;
    width: 20%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-html .prog-bar{
    
    width:90%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-css .prog-bar{
    
    width:95%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-html5 .prog-bar{
    
    width:70%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-css3 .prog-bar{
    
    width:90%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-js .prog-bar{
    
    width:50%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-api .prog-bar{
    
    width:15%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-git .prog-bar{
    
    width:70%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-jq .prog-bar{
    
    width:100%;
}
body .skills .container .parent .sub-container section.mini.one article .progress-boot .prog-bar{
    
    width:100%;
}
body .skills .container .parent .sub-container section.mini.two article p{
    
    text-align: start;
}

                /*=== === === === === === === === === === endSkills === === === === === === === === === === === ===*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startFooter === === === === === === === === === === === =*/

body footer.grand .container .parent .sub-container header.mini article h2{
    
    display: inline-block;
}
body footer.grand .container .parent .sub-container header.mini article h2 img{
    
    height: auto;
    width: 61px;
    margin-bottom: 0;
}
body footer.grand .container .parent .sub-container section.mini article{
    
    flex-basis: 70%;
    justify-content: space-evenly;
}
body footer.grand .container .parent .sub-container section.mini article a img{
    
    height: auto;
    width: 80px;
    margin-bottom: 0;
}
body footer.grand .container .parent .sub-container footer.mini article h6{
    
    flex-basis: 100%;
    
    font-size: calc(var(--h6-font)*.7);
}

                /*=== === === === === === === === === === endFooter === === === === === === === === === === === ===*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startStory === === === === === === === === === === === ==*/

body .story .container .parent .sub-container section.mini article{
    
    flex-basis: 100%;
}
body .story .container .parent .sub-container section.mini article p{
    background-color:var(--article-color);
    border-radius: 10px;
    margin-bottom: 2px;
    text-align: start;
    text-indent: 15px;
}

                /*=== === === === === === === === === === endStory === === === === === === === === === === === === */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startPushers === === === === === === === === === === === */

body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(1){
    
    font-size: calc(var(--h2-font)*.9);
    
}
body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(2){
    
    font-size: calc(var(--h2-font)*.7);
    
}
body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(3){
    
    font-size: calc(var(--h2-font)*.5);
    
}
body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(4){
    
    font-size: calc(var(--h2-font)*.9);
    
}
body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(5){
    
    font-size: calc(var(--h2-font)*.5);
    
}
body .pushers .container .parent .sub-container section.mini article{
    
    flex-basis: 100%;
    
}
body .pushers .container .parent .sub-container section.mini article ul{
    list-style: none;
    
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
body .pushers .container .parent .sub-container section.mini article ul li{
    color: var(--body-color);
    border-color: var(--h2-color);
    
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 10px;
    
    text-align: center;
    font-size: var(--h5-font);
}

                /*=== === === === === === === === === === endPushers === === === === === === === === === === === ==*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

                /*=== === === === === === === === === === startMedia === === === === === === === === === === === ==*/

/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --XXS Portrait phones and smaller === === === === === === === === ===*/

@media (max-width: 480px){
    body > * > .container{
        
        flex-basis: calc(var(--xxs)*11.5);
    }
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --XS Landscape phones and portrait tablets === === === === === === ==*/

@media (min-width: 480px) and (max-width: 768px){
    body > * > .container{
        
        width: calc(var(--xs)*11.5);
    }
    article{
        
        flex-basis: 80%;
    }
    /*-------------------------------------------------*/
    body header.grand .container .parent .sub-container header.mini h1{
        
        font-size: calc(var(--h1-font)*.6);
    }
    body header.grand .container .parent .sub-container header.mini h2{
        
        font-size: calc(var(--h2-font)*.45);
    }
    body header.grand .container .parent .sub-container header.mini h6{
        
        font-size: calc(var(--h6-font)*.8);
    }
    /*-------------------------------------------------*/
    body nav{
        
        border-radius: 100px;
    }
    body nav .container .parent .sub-container{
        
        flex-wrap: wrap;
    }
    body nav .container .parent .sub-container header h3{
        
        justify-content: center;
    }
    body nav .container .parent .sub-container section ul{
        
        flex-wrap: wrap;
        justify-content: center;
    }
    /*-------------------------------------------------*/
    body .serv .container .parent .sub-container section.mini article{
        
        flex-basis: 80%;
    }
    /*-------------------------------------------------*/
    body .portfolio .container .parent .sub-container section.mini article{
        
        flex-basis: 40%;
    }
    /*-------------------------------------------------*/
    /*-------------------------------------------------*/
    body footer.grand .container .parent .sub-container footer.mini article{
        
        flex-basis: 100%;
    }
    /*-------------------------------------------------*/
    body .pushers .container .parent .sub-container header.mini article{

        flex-basis: 100%;

    }
    body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(1){

        font-size: calc(var(--h2-font)*.7);

    }
    body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(2){

        font-size: calc(var(--h2-font)*.5);

    }
    body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(3){

        font-size: calc(var(--h2-font)*.3);

    }
    body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(4){

        font-size: calc(var(--h2-font)*.7);

    }
    body .pushers .container .parent .sub-container header.mini article h2:nth-of-type(5){

        font-size: calc(var(--h2-font)*.3);

    }
    body .pushers .container .parent .sub-container section.mini article ul{

        flex-basis: 100%;

    }
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --S Portrait tablets and small desktops === === === === === === === =*/

@media (min-width: 768px) and (max-width: 992px) {
    body > * > .container{
        width: calc(var(--s)*11.5);
    }
    article{
        flex-basis: 45%;
    }
    /*-------------------------------------------------*/
    body header.grand .container .parent .sub-container header.mini h1{
        font-size: calc(var(--h1-font)*.8);
    }
    body header.grand .container .parent .sub-container header.mini h2{
        font-size: calc(var(--h2-font)*.7);
    }
    /*-------------------------------------------------*/
    body .portfolio .container .parent .sub-container section.mini article a img{
        
        height: 150px;
        width: 150px;
        
    }
    /*-------------------------------------------------*/
    body .pushers .container .parent .sub-container section.mini article ul{

        flex-basis: 60%;

    }
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --M Landscape tablets and medium desktops === === === === === === == */

@media (min-width: 992px) and (max-width: 1200px) {
    body > * > .container{
        width: calc(var(--m)*11.5);
    }
    /*-------------------------------------------------*/
    body header.grand .container .parent .sub-container header.mini h1{
        font-size: calc(var(--h1-font)*.8);
    }
    body header.grand .container .parent .sub-container header.mini h2{
        font-size: calc(var(--h2-font)*.8);
    }
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --L Large desktops and laptops === === === === === === === === === ==*/

@media (min-width: 1200px) {
    body > * > .container{
        width: calc(var(--l)*11.5);
    }
}

                /*=== === === === === === === === === === endMedia === === === === === === === === === === === === */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/